
<div class="card post-card my-2">
    <div class="row">

        <!-- CONTENT SECTION -->
        <div class="{{(isPostExists) ? 'px-4 col-md-8' : 'px-4 col-md-11'}}">

            <!-- USER DATA -->
            <div class="d-flex align-items-center p-2 my-2">
                <img src={{profileImage}} alt="post-profile" width="40px" class="post-profile-placeholder rounded-circle" role="button" (click)="navigateToUserProfile(selectedPost?.id)">
                <div class="d-block mx-3">
                    <p class="text-body mx-1 my-0"><span class="lead fs-6">{{selectedPostUserDetail?.username}} | </span> {{selectedPostUserDetail?.profession}} </p>
                    <span class="post-date mx-1 my-0">{{selectedPost?.time_created | date: 'mediumDate'}}</span>
                </div>
                <div class="flex-end align-self-center ">
                    
                </div>
            </div>

            <!-- POST DATA -->
            <div class="my-2">

                <div class="my-2">
                    <p class="text-body-secondary tech-stack-tag"><span *ngFor="let tech of tech_stack_names">{{tech.tech_name}} | </span></p>
                </div>

                <h3 class="fs-4 my-3 text-body">{{selectedPost?.post_title}}</h3>
                <p>{{selectedPost?.post_description}}</p>

                <!-- COLLABORATORS -->
                <p class="fs-5">Collaborators</p>
                <div class="d-flex align-items-center p-md-2 p-lg-2 p-xl-2 p-4 my-2 flex-wrap" (click)="open(collaboratorsModal)">
                    <!-- <img *ngFor="let collaborator of collaborators" 
                        src={{collaborator.profile_photo}} 
                        alt="post-profile" 
                        width="40px" 
                        class="post-profile-placeholder rounded-circle mx-1" 
                        role="button"
                    > -->
                    <div *ngFor="let collaborator of collaborators" role="button" class="post-profile-placeholder rounded-circle mx-1 border border-dark">
                        <img src="{{collaborator.image_url}}" alt="post-profile" width="40px" class="post-profile-placeholder rounded-circle">
                    </div>
                </div>
            </div>

        </div>

        <!-- POST IMAGE -->
        <div class="col-md-3 p-4" *ngIf="isPostExists">
            <img *ngIf="selectedPost?.image_url" [src]="selectedPost?.image_url" alt="post" class="post-placeholder">
            <!-- <img src="data:image/jpeg;base64,'.base64_encode($blob).'" alt="post-placeholder" class="post-placeholder"> -->
        </div>

        <!-- ACTION SECTION -->
        <div class="col-md-1 text-center">
            <div class="py-3">
                <span class="status-icon" placement="top" ngbTooltip={{selectedPost?.status}} >
                    <i class="bi bi-circle-fill fs-6" [ngStyle]="{'color': statuscolor}"></i>
                </span>
            </div>

            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown" *ngIf="currentUser?.id == selectedPost?.user">
                <button
                    type="button"
                    class="btn me-2"
                    id="dropdownManual"     
                    (focus)="myDrop.open()"
                >
                    <i class="bi bi-three-dots"></i>
                </button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem (click)="open(editPostModal)">Edit</button>
                    <button ngbDropdownItem (click)="deletePost(selectedPost?.id)">Delete</button>
                </div>
            </div>
            
            <div class="py-3">
                <i class="bi fs-4" role="button" [ngClass]="isSaved ? 'bi-bookmark-fill' : 'bi-bookmark'" (click)="toggleSave()"></i>
            </div>
            <div class="py-3">
                <i class="bi fs-4" role="button" [ngClass]="isLiked ? 'bi-heart-fill text-danger like-button' : 'bi-heart'" (click)="toggleLike()"></i>
            </div>
        </div>
    </div>

    <!-- <button class="btn btn-dark w-25" (click)="deletePost(selectedPost!.id)">Delete</button> -->
    <button class="btn btn-dark w-25" (click)="collaborate(selectedPostUserDetail?.id)" (click)="open(collaborationRequestModal)">Collaborate</button>

    <hr class="my-4">

    <!-- <div>
        <button class="btn btn-dark" (click)="toggleCropStatus()">Edit</button>
    </div>

    <div *ngIf="cropStatus">
        <app-image-cropper [originalImage]="imageOriginal" [receivedImage]="imageTemp" (imageCropEvent)="renderImage($event)"></app-image-cropper>
    </div> -->

    <div class="position-absolute top-0 end-0">
        <ngb-toast [autohide]="true" *ngIf= "delete_success" class="bg-dark text-light" [delay]="5000"> Post deleted successfuly </ngb-toast>
    </div>
    <div class="position-absolute top-0 end-0">
        <ngb-toast [autohide]="true" *ngIf= "delete_success_error" class="bg-dark text-light" [delay]="5000"> There was a problem deleting the post! Retry </ngb-toast>
    </div>
</div>    


<!-- MODAL FOR COLLABORATION REQUEST -->

<!-- Modal -->
<ng-template #collaborationRequestModal let-modal>
	<div class="modal-header">
        <div>
            <h4 class="modal-title" id="modal-basic-title">Collaborate Request</h4>
        </div>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">

        <div>
            <p>Collaboration with {{selectedPost?.post_title}}</p>
            <ul class="confirmation-message">
                <li>Ensure confidentiality of the information shared.</li>
                <li>Respect the privacy of the project owner.</li>
                <li>The owner will be accepting the request.</li>
                <li>Do not misuse the code for other purposes.</li>
                <li>Follow moral and ethical principles.</li>
            </ul>
        </div>
        <div>
            <input class="form-check-input" type="checkbox" value="" id="termsAndCondCheck">
            <label class="form-check-label ms-2 confirmation-message" for="termsAndCondCheck">
                I agree to all the above terms & conditions.
            </label>
        </div>
        <div class="my-4">
            <p>Leave a note for {{selectedPostUserDetail?.username}}</p>
            <textarea class="form-control" aria-label="With textarea"></textarea>
            <p class="confirmation-message justify-content-start mt-2">*Upon confirmation an email will be sent to the project owner</p>
        </div>

	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Confirm</button>
	</div>
</ng-template>

<!-- MODAL TO VIEW COLLABORATORS -->

<!-- Modal -->
<ng-template #collaboratorsModal let-modal>
	<div class="modal-header">
        <div>
            <h4 class="modal-title" id="modal-basic-title">Collaborators</h4>
        </div>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">

        <div *ngFor="let collaborator of collaborators">
            <div  class="d-flex justify-content-between">
                <div class="d-flex">
                    <div>
                        <img src="{{collaborator.image_url}}" alt="post-profile" width="40px" class="post-profile-placeholder rounded-circle">
                    </div>
                    <div class="mx-3">
                        <p class="fs-6 my-0">{{collaborator.first_name}}  {{collaborator.last_name}}</p>
                        <p class="m-0 confirmation-message">{{collaborator.profession}}</p>
                    </div>
                    <!-- <div class="mx-3">
                        <p class="fs-6 my-0">{{collaborator.username}}</p>
                    </div> -->
                </div>

                <div>
                    <i class="bi bi-arrow-right fs-5" role="button" (click)="navigateToUserProfile(collaborator.id);modal.close('Navigating to profile')"></i>
                </div>
            </div>
            <hr class="my-2">
        </div>


	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cross click')">Close</button>
	</div>
</ng-template>


<ng-template #editPostModal let-modal>
	<div class="modal-header">
        <h4 class="modal-title">Edit Post</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-postform [postData]="selectedPost"></app-postform>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary" [disabled]="this.postForm.invalid"  (click)="uploadPost(); modal.close('Close click')">Post</button> -->
    </div>
</ng-template>