<div>
    <div class="card-body">
        <div class="row">
            <div class="col-7">    
                <div>
                    <image-cropper
                    [imageChangedEvent]="imageChangedEvent"
                    [maintainAspectRatio]="true"
                    [containWithinAspectRatio]="containWithinAspectRatio"
                    [aspectRatio]="1 / 1"
                    [resizeToWidth]="256"
                    [cropperMinWidth]="128"
                    [onlyScaleDown]="true"
                    [roundCropper]="false"
                    [canvasRotation]="canvasRotation"
                    [transform]="transform"
                    [alignImage]="'center'"
                    [style.display]="showCropper ? null : 'none'"
                    format="png"
                    [imageURL]="originalImage"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded()"
                    (cropperReady)="cropperReady($event)"
                    (loadImageFailed)="loadImageFailed()"
                    [roundCropper]="false"
                  ></image-cropper>
                  </div>
            </div>
    
            <div class="col-3">
                <div>
                    <input type="file" (change)="fileChangeEvent($event)" />
    
                    <div class="m-2">
                        <i class="btn btn-dark bi bi-zoom-in mx-2" (click)="zoomIn()"></i>
                        <i class="btn btn-dark bi bi-zoom-out mx-2" (click)="zoomOut()"></i>
                    </div>
    
                    <div class="m-2">
                        <i class="btn btn-dark bi mx-2" 
                        (click)="toggleContainWithinAspectRatio()"
                        [ngClass]="containWithinAspectRatio ? 'bi-aspect-ratio' : 'bi-aspect-ratio-fill'"
                        ></i>
                        <i class="btn btn-dark bi bi-arrow-clockwise mx-2" (click)="resetImage()"></i>
                    </div>
    
                    <div><button (click)="imageSubmit()" class="btn btn-outline-dark rounded-pill">Save</button></div>
                </div>
                <!-- <div *ngIf="croppedImage">
                    <div>
                        <p>Preview</p>
                        <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid black' : 'none'"/>
                    </div>
                </div> -->
            </div>
        </div>

        
    </div>
  </div>




  

<!-- <input type="file" (change)="fileChangeEvent($event)" /> -->

<!-- <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [containWithinAspectRatio]="true"
    [aspectRatio]="1 / 1"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
    [roundCropper]="true"
    imageURL="https://www.filmibeat.com/wimgm/1366x70/desktop/2022/08/xrashmika-mandanna_24.jpg.pagespeed.ic.j1Nj6lSoJX.jpg"
></image-cropper> -->

<!-- <img [src]="croppedImage" /> -->




<!-- <button mat-mini-fab aria-label="zoomOut" color="primary" (click)="zoomOut()">
  <mat-icon>zoom_in</mat-icon>
</button>
<button mat-mini-fab aria-label="zoomIn" color="primary" (click)="zoomIn()">
  <mat-icon>zoom_out</mat-icon>
</button>
<button mat-raised-button aria-label="fit_screen" color="primary" (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}>
</button>
<button mat-mini-fab aria-label="resetImage" color="primary" (click)="resetImage()">
  <mat-icon>refresh</mat-icon>
</button> -->

<!-- <br />
<br />
<button (click)="toggleContainWithinAspectRatio()">{{containWithinAspectRatio?'Fill Aspect Ratio':'Contain Within Aspect Ratio'}}</button>
<button (click)="resetImage()">Reset image</button>
<br />
<br /> -->
<!-- <button (click)="zoomOut()">Zoom -</button> <button (click)="zoomIn()">Zoom +</button> -->




    <!-- (imageCropped)="imageCropped($event)" -->