<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">

<div class="login-section">
    <div class="row text-center g-0 grid">

        <div class="vh-100 col-md-6 login-image-section" >
            <div class="align-self-center">
                <!-- <img src="./assets/images/schedio-logo.png" class="img-fluid mx-auto w-50">
                <p class="display-3">Schedio</p>
                <p class="lead">The Missing Piece.</p> -->
            </div>
        </div>

        <div class="col-md-6 login-section m-0">

            <div class="cardholder-login w-100 min-vh d-flex justify-content-center align-items-center">
                <div class="card card-login pt-4 pb-2 px-3 shadow border-0 w-100"> 

                        <!-- LOGIN TAB -->
                        
                            <div class="card-body p-4" *ngIf="isLogin">
                                <form [formGroup]="validateLogin" class="d-flex flex-wrap flex-column p-3" >

                                    <!-- TITLE -->

                                    <span class="fs-2 text-dark login-form-title">SCHEDIO</span>
                                    <span class="fs-7 text-body login-form-subtitle mb-4">The Missing Piece</span>
 
                                    <!-- Login Username -->

                                    <div class="form-floating my-3">
                                        <input 
                                            class="form-control login-form-input shadow-none" 
                                            formControlName="loginusername" 
                                            type="text" 
                                            name="loginusername" 
                                            id="loginusername" 
                                            placeholder="name@example.com"
                                            required
                                        >
                                        <label for="loginusername">Username</label>

                                        <div *ngIf="valid_login && validateLogin.controls['loginusername'].errors">
                                            <div class="form-text text-danger d-flex float-left" *ngIf="login['loginusername'].errors?.['required'] || login['loginusername'].touched">
                                                Enter your Username
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Login Password -->

                                    <div class="form-floating my-2">
                                        <input 
                                            class="form-control login-form-input shadow-none" 
                                            formControlName="loginpassword" 
                                            type="password" 
                                            name="loginpassword" 
                                            id="loginpassword" 
                                            placeholder="Enter your password" 
                                            required
                                        >
                                        <label for="loginpassword">Password</label>

                                        <div *ngIf="valid_login && validateLogin.controls['loginpassword'].errors">
                                            <div class="form-text text-danger d-flex float-left" *ngIf="login['loginpassword'].errors?.['required'] || login['loginpassword'].touched">
                                                Password is required
                                            </div>
                                        </div>
                                    </div>

                                    <button class="btn btn-dark my-3 px-3" type="submit" value="Login" (click)="validateLoginUser()">Login</button>
                                </form>

                                <p>Don't have an account? <span role="button" (click)="switchForm()">Sign Up</span></p>

                                <!-- Social Buttons -->
                                
                                <div>
                                    <button class="btn"><i class="bi bi-google fs-3 mx-3"></i></button>
                                    <button class="btn"><i class="bi bi-github fs-3 mx-3"></i></button>
                                </div>
                                
                            </div>


                        <!-- SIGNUP TAB -->

                        <div class="card-body p-3" *ngIf="!isLogin">
                            <form [formGroup]="validateSignup" class="d-flex flex-wrap flex-column p-3">

                                <!-- TITLE -->

                                <span class="fs-2 text-dark login-form-title">SCHEDIO</span>
                                <span class="fs-7 text-body login-form-subtitle mb-4">The Missing Piece</span>

                                <!-- Signup username -->

                                <div class="form-floating my-2">
                                    <input class="form-control login-form-input shadow-none" type="text" name="signupusername" id="signupusername" placeholder="Enter your username" formControlName="signupusername">
                                    <label for="signupusername">Username</label>
                                    <div *ngIf="valid_signup && validateSignup.controls['signupusername'].errors">
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['signupusername'].errors?.['required'] || signup['signupusername'].touched">
                                            Choose an username
                                        </div>
                                    </div>
                                </div>


                                <!-- Signup email -->

                                <div class="form-floating my-2">
                                    <input class="form-control login-form-input shadow-none" type="email" name="signupemail" id="signupemail" placeholder="Enter your email" formControlName="signupemail">
                                    <label for="signupemail">Email</label>
                                    <div *ngIf="valid_signup && validateSignup.controls['signupemail'].errors">
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['signupemail'].errors?.['required'] || signup['signupemail'].touched">
                                            Enter your Email ID
                                        </div>
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['signupemail'].errors?.['email']">
                                            Invalid Email ID
                                        </div>
                                    </div>
                                </div>

                                <!-- Signup password  -->

                                <div class="form-floating my-2">
                                    <input class="form-control login-form-input shadow-none" type="password" name="signuppassword" id="signuppassword" placeholder="Enter your password" formControlName="signuppassword" required>
                                    <label for="signuppassword">Password</label>
                                    <div *ngIf="valid_signup && validateSignup.controls['signuppassword'].errors">
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['signuppassword'].errors?.['required'] || signup['signuppassword'].touched">
                                            Password is compulsory
                                        </div>
                                    </div>
                                </div>

                                <!-- Signup retype password -->

                                <div class="form-floating my-2">
                                    <input class="form-control login-form-input shadow-none" type="password" name="retypepassword" id="retypepassword" placeholder="Enter your password again" formControlName="retypepassword" pattern="{{ signup['signuppassword'].value }}"  required>
                                    <label for="retypepassword">Confirm Password</label>
                                    <div *ngIf="valid_signup && validateSignup.controls['retypepassword'].errors">
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['retypepassword'].errors?.['required'] || signup['retypepassword'].touched">
                                            Retype password to confirm
                                        </div>
                                        <div class="form-text text-danger d-flex float-left" *ngIf="signup['retypepassword'].errors?.['pattern']"> 
                                            Password & Confirm Password does not match.
                                        </div>
                                    </div>
                                </div>

                                <!-- Signup button -->

                                <button class="btn btn-dark my-3 px-3" type="submit" value="Signup" (click)="validateSignupUser()">Sign up</button>
                            </form>

                            <p>Already have an account? <span role="button" (click)="switchForm()">Login</span></p>

                            <!-- Social Buttons -->

                            <div>
                                <button class="btn"><i class="bi bi-google fs-3 mx-3"></i></button>
                                <button class="btn"><i class="bi bi-github fs-3 mx-3"></i></button>
                            </div>
                        </div> 
                </div>
            </div>  
            <div class="position-absolute bottom-0 end-0">
                <ngb-toast [autohide]="true" *ngIf= "invalid_credentials" class="bg-dark text-light"> Invalid credentials </ngb-toast>
            </div>
            <div class="position-absolute bottom-0 end-0">
                <ngb-toast [autohide]="true" *ngIf= "invalid_username" class="bg-dark text-light"> Username already taken. Try something different </ngb-toast>
            </div>
        </div>
    </div>
</div>
