// POPPINS FONT

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// LEFT IMAGE SECTION

.login-image-section{
  background-image: url("../../assets/images/login-illustration.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

// RIGHT FORM SECTION 

.cardholder-login{
  justify-content: center;
  padding-top: 5%;
  padding-left: 20%;
  padding-right: 20%; 
}

.login-form-title{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.login-form-subtitle{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #555555;
  line-height: 1.2;
}

.login-form-input{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  color: #555555;
}