<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.rawgit.com/oauth-io/oauth-js/c5af4519/dist/oauth.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.12.0/bootstrap-social.min.css">

<div>
    <div class="row text-center">
        <div class="vh-100 col-md-6">
            <img src="./assets/images/login_page.jpg" class="img-fluid mx-auto ">
        </div>
        <div class="vh-100 col-md-6">
            <div class="login">
                <a id="google-button" class="btn btn-block btn-social btn-google">
                    <i class="fa fa-google"></i> Continue with Google
                </a>
                <a id="github-button" class="btn btn-block btn-social btn-github">
                    <i class="fa fa-github"></i> Continue with Github
                </a>
            </div>
            <div class="cardholder">
                <div class="card"> 
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
                        <mat-tab label="Login" >
                            <div class="card-body">
                                <form [formGroup]="validateLogin" (ngSubmit)="validateLoginUser()" class="the-form">
                                    <label for="loginemail">Email</label>
                                    <input formControlName="loginemail" type="email" name="loginemail" id="loginemail" placeholder="Enter your email" required>
                                    <!-- <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">
                                        Please enter your Email ID
                                    </div>
                                    <div class="form-text text-danger" *ngIf="Email.errors?.['email']">
                                        Invalid Email ID
                                    </div> -->
                                    <label for="loginpassword">Password</label>
                                    <input formControlName="loginpassword" type="password" name="loginpassword" id="loginpassword" placeholder="Enter your password" required>
                                    <!-- <div class="form-text text-danger col-md-4" *ngIf="Password.errors?.['required'] && Password.touched">
                                        Please enter your password
                                    </div> -->
                                    <input type="submit" value="Login">
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="Sign Up"> 
                            <div class="card-body">
                                <form [formGroup]="validateSignup" (ngSubmit)="validateSignupUser()" class="the-form">
                                    <label for="signupemail">Email</label>
                                    <input type="email" name="signupemail" id="signupemail" placeholder="Enter your email" formControlName="signupemail" required>
                                    <!-- <div class="form-text text-danger" *ngIf="Email.errors?.['required'] && Email.touched">
                                        Please enter your Email ID
                                    </div>
                                    <div class="form-text text-danger" *ngIf="Email.errors?.['email']">
                                        Invalid Email ID
                                    </div> -->
                                    <label for="signupusername">Username</label>
                                    <input type="text" name="signupusername" id="signupusername" placeholder="Enter your username" formControlName="signupusername" required>
                                    <label for="signuppassword">Password</label>
                                    <input type="password" name="signuppassword" id="signuppassword" placeholder="Enter your password" formControlName="signuppassword" required>
                                    <label for="retypepassword">Retype Password</label>
                                    <input type="password" name="retypepassword" id="retypepassword" placeholder="Enter your password again" formControlName="retypepassword" required>
                                    <!-- <div class="form-text text-danger col-md-4" *ngIf="Password.errors?.['required'] && Password.touched">
                                        Please enter your password
                                    </div> -->
                                    <input type="submit" value="Signup">
                                </form>
                            </div> 
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>  
        </div>
    </div>
</div>
<div class="row text-center border border-primary">
    <footer>
        Made with love from generateTeamName.exe
    </footer>
</div>