<div class="container-fluid bg-light border-start border-end">

    <!-- Search bar -->
    <div>
        <div class="input-group w-80 p-4">
            <input type="text" class="form-control rounded-pill" placeholder="Search">
            <button type="button" class="btn btn-outline-dark rounded-pill ms-4"><i class="bi bi-search"></i></button>
        </div>
        <hr>
    </div>

    <!-- Start post form button -->
    <div>   
        <div class="d-flex ms-4 justify-content-center">
            <button type="button" class="w-75 btn btn-outline-dark rounded-pill" (click)="openScrollableContent(longContent)">Start a post</button>
        </div>
        <hr>
    </div>

    <!-- Feed posts -->
    <div *ngFor="let post of posts; index as id;"> 
        <app-post [postData]="post"></app-post>
    </div>
</div>

<!-- Start Post Modal -->
<form [formGroup]="postForm">
<ng-template #longContent let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Upload post</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div>

                        <!-- Title input -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="titleInput" id="titleInput" placeholder="Project title">
                            <label for="titleInput">Project title</label>
                            <div class="form-text text-danger" *ngIf="postform['titleInput'].errors?.['required'] && postform['titleInput'].touched">
                                Enter a title
                            </div>
                        </div>

                        <!-- Gist input -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="gistInput" id="gistInput" placeholder="Project gist">
                            <label for="gistInput">Project gist</label>
                            <div class="form-text text-danger" *ngIf="postform['gistInput'].errors?.['required'] && postform['gistInput'].touched">
                                Enter a gist
                            </div>                                
                        </div>

                        <!-- Description input -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="descriptionInput" placeholder="Tell more about your project" id="descriptionInput"></textarea>
                            <label for="descriptionInput">Project Description</label>
                            <div class="form-text text-danger" *ngIf="postform['descriptionInput'].errors?.['required'] && postform['descriptionInput'].touched">
                                Enter a description
                            </div>
                        </div>

                        <!-- TechStack input -->
                        <div class="mb-3">
                            <label for="techStack" class="mb-2">TechStack</label>
                            <select formControlName="techStack" id="techStack" class="form-control newuser-form-input shadow-none selectpicker" multiple size="3">
                              <option *ngFor="let techstack of techstacks" [ngValue]="techstack.name">{{techstack.name}}</option>
                              <option ngValue="Other">Other</option>
                            </select>
                        </div>
                        
                    </div>
                </div>

                <!-- Image card -->
                <div class="col-md-6">
                    <div *ngIf = "(imageTemp!=='')" class="card mb-3">
                        <button type="button" class="btn-close position-absolute top-0 end-0" aria-label="Close" (click)="resetImage()"></button>
                        <img [src]="imageTemp | safe:'url'" class="post-placeholder">
                    </div>
                    <button type="button" class="btn btn-outline-dark rounded-pill sticky-top" (click)="openScrollableContent(photoContent)">+ Photo</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="this.postForm.invalid"  (click)="uploadPost(); modal.close('Close click')">Post</button>
        </div>
</ng-template>
</form>

<ng-template #photoContent let-modal>
    <div class="modal-header"> 
		<h4 class="modal-title">Edit photo</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-image-cropper [originalImage]="imageOriginal" [receivedImage]="imageTemp" (imageCropEvent)="renderImage($event)" (closeEvent)="modal.dismiss('Cross click')"></app-image-cropper>
	</div>
</ng-template>
