<div class="container-fluid bg-light border-start border-end">

    <!-- Search bar -->
    <!-- <div>
        <div class="input-group w-80 p-4">
            <input type="text" class="form-control rounded-pill" placeholder="Search">
            <button type="button" class="btn btn-outline-dark rounded-pill ms-4"><i class="bi bi-search"></i></button>
        </div>
        <hr>
    </div> -->

    <div class="p-4">
        <div class="w-60">
            <!-- <ng-select [(ngModel)]="searchText">
                <ng-option *ngFor="let post of posts" [value]="post.post_title">{{post.post_title}}</ng-option>
            </ng-select> -->
            <!-- <button type="button" class="btn btn-outline-dark rounded-pill ms-4"><i class="bi bi-search"></i></button> -->

            <!-- <ng-select 
                [items]="posts"
                bindLabel="tech_stack"
                bindValue="post_title"
                groupBy="post_title"
                [(ngModel)]="searchText">
                <ng-template ng-optgroup-tmp let-item="item">
                    {{item.post_title || 'Unnamed group'}}
                </ng-template>
            </ng-select> -->

            <ng-select [items]="postsAll"
                bindLabel="post_title"
                bindValue="id"
                [searchFn]="customSearchFn"
                [editableSearchTerm]="true"
                [closeOnSelect]="true"
                [markFirst]="false"  
                [(ngModel)]="selectedTechStackId"  
                (close)="navigateToSelectedPost()"
                [keyDownFn]="filterOnEnter"
                (search)="whileSearch($event)"
            >
                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                    <span [ngOptionHighlight]="search">{{item.post_title}}</span>
                    <!-- {{item.post_title}}  --><br/>
                    <small [ngOptionHighlight]="search" class="text-body-secondary">{{item.tech_stack}}</small>
                </ng-template>
            </ng-select>
        </div>
        <hr>
    </div>

    <!-- Start post form button -->
    <div>   
        <div class="d-flex ms-4 justify-content-center">
            <button type="button" class="w-75 btn btn-outline-dark rounded-pill" (click)="openScrollableContent(longContent)">Start a post</button>
        </div>
        <hr>
    </div>

    <!-- Feed posts -->
    <div *ngFor="let post of posts; index as id;"> 
        <app-post [postData]="post" [liked]="userLiked(post.id)"></app-post>  <!--[liked]= "" [saved]="userSaved()"-->
    </div>
</div>

<!-- Start Post Modal -->
<form [formGroup]="postForm">
<ng-template #longContent let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Upload post</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <div class="row mb-5">
                <div class="col-md-6">
                    <div>

                        <!-- Title input -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="titleInput" id="titleInput" placeholder="Project title">
                            <label for="titleInput">Project title</label>
                            <div class="form-text text-danger" *ngIf="postform['titleInput'].errors?.['required'] && postform['titleInput'].touched">
                                Enter a title
                            </div>
                        </div>

                        <!-- Gist input -->
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" formControlName="gistInput" id="gistInput" placeholder="Project gist">
                            <label for="gistInput">Project gist</label>
                            <div class="form-text text-danger" *ngIf="postform['gistInput'].errors?.['required'] && postform['gistInput'].touched">
                                Enter a gist
                            </div>                                
                        </div>

                        <!-- Description input -->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" formControlName="descriptionInput" placeholder="Tell more about your project" id="descriptionInput"></textarea>
                            <label for="descriptionInput">Project Description</label>
                            <div class="form-text text-danger" *ngIf="postform['descriptionInput'].errors?.['required'] && postform['descriptionInput'].touched">
                                Enter a description
                            </div>
                        </div>

                        <!-- Status of the project -->
                        <div class="form-floating mb-3">
                            <select formControlName="status" id="status" class="form-control">
                              <option [ngValue]="null" disabled selected>*Status of the project</option>
                              <option value="Ongoing">Ongoing</option>
                              <option value="Completed">Completed</option>
                              <option value="Archived">Archived</option>
                            </select>
                            <label for="status">Status of the project</label>
                            <div class="form-text text-danger" *ngIf="postform['status'].errors?.['required'] && postform['status'].touched">
                                Select the current status of the project
                            </div>
                        </div>

                        <!-- TechStack input -->
                        <div class="form-floating mb-3">
                            <ngb-accordion #acc="ngbAccordion">
                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <span>Tech Stack</span>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                            <!-- <div class="mb-3">             -->
                                                <!-- <select formControlName="techStack" id="techStack" class="form-control newuser-form-input shadow-none selectpicker" multiple size="3">
                                                    <option *ngFor="let techstack of techstacks" [ngValue]="techstack.name">{{techstack.name}}</option>
                                                    <option ngValue="Other">Other</option>
                                                </select> -->
                    
                                                <!-- <ng-select
                                                    [items]="techstacks"
                                                    [multiple]="true"
                                                    [closeOnSelect]="false"
                                                    [searchable]="false"
                                                    bindLabel="name"
                                                    placeholder="Select people"
                                                    appendTo=".modal-body"
                                                >
                                                </ng-select> -->
                    
                                                <ng-select 
                                                    appearance="outline" 
                                                    [searchable]="false" 
                                                    [clearable]="false" 
                                                    [multiple]="true"
                                                    [closeOnSelect]="false"
                                                    labelForId="techStack" 
                                                    placeholder="Choose tech stack for your project"
                                                    formControlName="techStack"
                                                >
                                                    <ng-option *ngFor="let techstack of techstacks" value="{{techstack.name}}">
                                                        <img src={{techstack.img}} width="30px" height="30px" class="rounded"/>
                                                        {{techstack.name}}
                                                    </ng-option>
                                                </ng-select>
                    
                                            <!-- </div> -->
                                    </ng-template>   
                                </ngb-panel>

                                <!-- Current Collaborators -->

                                <ngb-panel>
                                    <ng-template ngbPanelTitle>
                                        <span>Collaborators</span>
                                    </ng-template>
                                    <ng-template ngbPanelContent>
                                        <div class="form-floating mb-3">
                                            <ng-select [items]="profilesAll"
                                                bindLabel="username"
                                                bindValue="id"
                                                [searchFn]="customSearchCollaboratorsFn"
                                                [editableSearchTerm]="true"
                                                [closeOnSelect]="true"
                                                [markFirst]="false"   
                                                (search)="whileSearchCollaborators($event)"
                                                [(ngModel)]="selectedTechStackId"
                                                [multiple]="true"
                                                placeholder="Add collaborators"
                                                formControlName="collaborators"
                                            >
                                                <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                                                    <span [ngOptionHighlight]="search">{{item.username}}</span>
                                                    <!-- {{item.post_title}}  --><br/>
                                                </ng-template>
                                            </ng-select>
                                            <div class="form-text text-danger" *ngIf="postform['gistInput'].errors?.['required'] && postform['gistInput'].touched">
                                                Enter a gist
                                            </div>                                
                                        </div>
                                    </ng-template>
                                </ngb-panel>
                            </ngb-accordion> 
                        </div>

                    </div>
                </div>

                <!-- Image card -->
                <div class="col-md-6">
                    <div *ngIf = "(imageTemp!=='')" class="card mb-3">
                        <button type="button" class="btn-close position-absolute top-0 end-0" aria-label="Close" (click)="resetImage()"></button>
                        <img [src]="imageTemp | safe:'url'" class="post-placeholder">
                    </div>
                    <button type="button" class="btn btn-outline-dark rounded-pill sticky-top" (click)="openScrollableContent(photoContent)">+ Photo</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" [disabled]="this.postForm.invalid" (click)="uploadPost(); modal.close('Close click')">Post</button> <!--[disabled]="this.postForm.invalid"-->
        </div>
</ng-template>
</form>

<ng-template #photoContent let-modal>
    <div class="modal-header"> 
		<h4 class="modal-title">Edit photo</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
        <app-image-cropper [originalImage]="imageOriginal" [receivedImage]="imageTemp" (imageCropEvent)="renderImage($event)" (imageFileEvent)="getFile($event)" (closeEvent)="modal.dismiss('Cross click')"></app-image-cropper>
	</div>
</ng-template>

