<div class="d-flex flex-column flex-shrink-0 text-white vh-100 sidebar-container sticky-top">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
    <span class="fs-4">SCHEDIO</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a [routerLink]="['/feed']" class="nav-link text-white" aria-current="page">
        <i class="bi bi-house me-2"></i>
        Home
        </a>
    </li>
    <li>
        <a [routerLink]="['/login']" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#login"/></svg>
        Login
        </a>
    </li>
    <li>
        <a [routerLink]="['/newuser']" class="nav-link text-white">
        <svg class="bi me-2" width="16" height="16"><use xlink:href="#newuser"/></svg>
        New User
        </a>
    </li>
    <li>
      <a [routerLink]="['/profile']" class="nav-link text-white">
      <i class="bi bi-person"></i>
      Profile
      </a>
    </li>
    </ul>
  <hr>
  <button (click)="logout()" class="btn btn-primary text-white">
    <i class="bi bi-box-arrow-left me-2"></i>
    Logout
  </button>
</div>

<!--  <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2"> -->

