<div class="card post-card my-3">
    <div class="row">
        <div class="col-md-3">
            <img [src]="imageTemp | safe:'url'" alt="post-placeholder" class="post-placeholder">
            <!-- <img src="data:image/jpeg;base64,'.base64_encode($blob).'" alt="post-placeholder" class="post-placeholder"> -->
        </div>
        <div class="col-md-8">

            <div class="d-flex align-items-center p-2 my-2">
                <img src="assets/images/post-placeholder.jpg" alt="post-profile-placeholder" width="40px" class="post-profile-placeholder rounded-circle">
                <div class="d-block mx-3">
                    <p class="text-body m-1"><span class="lead">Krishna Sameer | </span> CEO </p>
                </div>
            </div>

            <div class="my-4">
                <h3 class="display-6 fs-2 my-3">Expend</h3>
                <p>An Angular + Django based project collaboration platform to view, share and colloborate projects with the community of developers and students.</p>
                <!-- <div class="hover-container">
                    <a href="">Explore</a>
                </div> -->
            </div>
        </div>
        <div class="col-md-1 text-center">
            <div class="py-3">
                <mat-icon class="fs-2">bookmark</mat-icon>
            </div>
            <div class="py-3">
                <mat-icon class="fs-2">favorite</mat-icon>
            </div>
            <div class="py-3">
                <mat-icon class="fs-2">link</mat-icon>
            </div>
        </div>
    </div>

    <hr>

    <!-- <div>
        <button class="btn btn-dark" (click)="toggleCropStatus()">Edit</button>
    </div> -->

    <!-- <div *ngIf="cropStatus">
        <app-image-cropper [originalImage]="imageOriginal" [receivedImage]="imageTemp" (imageCropEvent)="renderImage($event)"></app-image-cropper>
    </div> -->
</div>


