<div class="container-fluid bg-light border">
  <div class="w-60 p-3">
    <ng-select [items]="otherSearchedUsers"
        bindLabel="post_title"
        bindValue="id"
        [editableSearchTerm]="true"
        [closeOnSelect]="true"
        [markFirst]="false"  
        [(ngModel)]="selectedTechStackId"  
        (close)="openChat()"
        [keyDownFn]="filterOnEnter"
        (search)="whileSearch($event)"
    >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <span [ngOptionHighlight]="search">{{item.username}}</span>
            <!-- {{item.post_title}}  --><br/>
            <!-- <small [ngOptionHighlight]="search" class="text-body-secondary">{{item.username}}</small> -->
        </ng-template>
    </ng-select>
  </div>
  <div #talkjsContainer style="width: 100%; margin: 30px; height: 500px">Loading...</div>
</div>