// For changing the colors of the nav pills

.nav-pills a{ 
    color: black;
}

.nav-pills .active{ 
    background-color: black; 
    color: white;
}

.notification-card{
    background-color: #f8f9fa;
    border: none;
}